@import 'mapas.less';
@breakMobile:~'(max-width:767px)';
@breakTablet: ~'(min-width: 768px) and (max-width: 1023px)';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.marginAuto{
    margin: 0 auto;
}

header{
    background-color: #colors[headerFundo];
    margin-bottom: 50px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 18px;
    }

    nav{
        ul{
            display: flex;

            li{
                list-style: none;
                margin-right: 14px;
                a{
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: bolder;
                }
            }
        }
    }
}

body{
    background-color: #colors[bodyFundo];
}

section{
    .container{
        text-align: center;

        h2{
            margin-bottom: 10px;
        }
        .products{
            display: flex;
            justify-content: space-evenly;
            .product-item{
                list-style: none;
                max-width: 400px;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                img{
                    border-radius: 10px;
                    margin: 6px auto 10px;
                }
                p{
                    margin: 6px auto 12px;
                }
                .product-button{
                    width: 180px;
                    margin-top: 6px;
                    padding: 6px;
                    border: 2px solid #colors[buttonFundo];
                    background-color: #colors[buttonFundo];
                    color: azure;
                    text-decoration: none;
                    border-radius: 10px;
                }
            }
        }
    }
}

@media @breakMobile{
    .products{
        display: flex;
        flex-wrap: wrap;
    }
}
